<!-- Mitali Sanwal ms4952@drexel.edu-->
<!-- CS530: DUI, Assignment [1]-->
{% extends 'base.html' %} {% set active = "Home" %} {% block title %} Home {%
endblock %} {% block content %}
<div class="container bg-faded py-3">
  <h1 class="text-center">We are College Shepherd</h1>
  <div class="row"></div>

  <div class="row">
    <div class="col">
      <div class="mx-auto w-150 p-4 bg-light text-black text-lg-center">
        <span>
          <p class="h4">
            One stop for all the information an new student will need while
            settling in a new university
          </p></span
        >
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="mx-auto w-150 p-4 bg-light text-black text-lg-center">
        <span>
          <p class="p-4">
            As soon as a student steps into a new country , he/she is clouded by
            so many queries . There my be many new norms in a country which the
            student is not even aware of . Eg, A student from an underdeveloped
            region might not ever be aware of online services available for day
            to day lifestyle. MyCollegeShepher is answer to all the whereabouts
            for a new/old student . App helps students to find new room mates on
            basis of their hobbies , food habits ,music taste etc. As per the
            selected university it will portray the list of budget apartments,
            local grocery stores which are in proximity to the university . The
            initial setup for apartment will list the necessary links and
            information about Internet , Gas Connection , electricity , Renters
            insurance. A new comer might not pay heed or may not be aware of
            many useful information. Hence this app will attend this in
            information section where the questions like , how to get a stateID/
            Driver’s liscence? How to build a credit history , safety tips ,etc
            will be addressed.
          </p></span
        >
      </div>
    </div>
  </div>
</div>

{% endblock %}
