{% extends 'base.html' %} {% set active = "Home" %} {% block title %} Home {%
  endblock %} {% block content %}
  <div class="text-center">
      <h1 class="jumbotron-heading">Stores to visit for setting up your apartment.</h1>
  </div>
  </header>
  <style>
    img {
      border: 1px solid #ddd; /* Gray border */
      border-radius: 4px; /* Rounded border */
      padding: 5px; /* Some padding */
      width: 200px; /* Set a small width */
    }
  
    /* Add a hover effect (blue shadow) */
    img:hover {
      box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    }
  </style>
  <div class="card">
  <div class="clearfix">
    <a href="https://www.ikea.com/us/en/" target="_blank">
    <img src="/public/img/college/ikea.jpg" alt="..." class="float-left mr-4" />
  </a>
    <div class="card-body">
      <h5 class="card-title">IKEA</h5>
    <p class="card-text">IKEA is a Swedish-founded European multinational group that designs and
      sells ready-to-assemble furniture, kitchen appliances and home accessories,
      among other useful goods and occasionally home services.Living Room IKEA
      sells furniture big and small, including sofas, loveseats, and armchairs.
      Aside from seating, there are a number of television stands, bookshelves,
      media cabinets and other storage pieces. Finish off the space with a coffee
      table or side table. Bedroom From essentials, like mattresses and linens, to
      accent pieces, such as dressers or nightstands.
    </p>
      
  </div>
  </div>
</div>
  <div class="pb-4"></div>
  <div class="card">
  <div class="clearfix">
    <a href="https://www.walmart.com/" target="_blank">
    <img src="/public/img/college/walmart.jpg" alt="..." class="float-left mr-4" />
    </a>
    <div class="card-body">
      <h5 class="card-title">Walmart</h5>
    <p class="card-text">Walmart Inc. is an American multinational retail corporation that operates a
      chain of hypermarkets, discount department stores, and grocery stores,
      headquartered in Bentonville, Arkansas. The company was founded by Sam
      Walton in 1962 and incorporated on October 31, 1969.</p>
  </div>
  </div>
</div>
  <div class="pb-4"></div>
  <div class="card">
  <div class="clearfix">
    <a href="https://www.target.com/" target="_blank">
    <img src="/public/img/college/target.jpg" alt="..." class="float-left mr-4" />
  </a>
  <div class="card-body">
    <h5 class="card-title">Target</h5>
  <p class="card-text">Target Corporation is the 8th-largest retailer in the United States, and is
      a component of the S&P 500 Index.[4] Founded by George Dayton and
      headquartered in Minneapolis, the company was originally named Goodfellow
      Dry Goods in June 1902 before being renamed the Dayton's Dry Goods Company
      in 1903 and later the Dayton Company</p>
</div>
  </div>
</div>
  <div class="pb-4"></div>
  <div class="card">
  <div class="clearfix">
    <a href="https://www.homedepot.com/" target="_blank">
    <img src="/public/img/college/homedepo.png" alt="..." class="float-left mr-4" />
  </a>
  <div class="card-body">
    <h5 class="card-title">Home Depot</h5>
  <p class="card-text">Home Depot, Inc. is the largest home improvement retailer in the United
      States,[4] supplying tools, construction products, and services. The company
      is headquartered at the Atlanta Store Support Center in unincorporated Cobb
      County, Georgia (with an Atlanta mailing address). It operates many big-box
      format stores across the United States and its territories of Puerto Rico,
      Guam, and the U.S. Virgin Islands; all 10 provinces of Canada; and the 31
      states and Federal District of Mexico. MRO company Interline Brands</p>
</div>
  </div>
</div>
<div class="pb-4"></div>
  <div class="card">
  <div class="clearfix">
    <a href="https://www.lowes.com/" target="_blank">
    <img src="/public/img/college/lowes.png" alt="..." class="float-left mr-4" />
  </a>
  <div class="card-body">
    <h5 class="card-title">Lowe's</h5>
  <p class="card-text">Lowe's Companies,doing business as Lowe's, is an American
      retail company specializing in home improvement.[4 Headquartered in
      Mooresville, North Carolina, the company operates a chain of retail stores
      in the United States .
    </p>
</div>
  </div>
</div>
<div class="pb-4"></div>
  <div class="card">
  <div class="clearfix">
    <a href="https://www.cvs.com/" target="_blank">
    <img src="/public/img/college/cvs.jpg" alt="..." class="float-left mr-4" />
  </a>
  <div class="card-body">
    <h5 class="card-title">CVS</h5>
  <p class="card-text">CVS Pharmacy (sometimes stylized as CVS/pharmacy) is a subsidiary of the
      American retail and health care company CVS Health, headquartered in
      Woonsocket, Rhode Island.[6] It was also known as, and originally named, the
      Consumer Value Store and was founded in Lowell, Massachusetts, in 1963</p>
</div>
  </div>
</div>
<div class="pb-4"></div>
<div class="card">
<div class="clearfix">
  <a href="https://www.macys.com/" target="_blank">
  <img src="/public/img/college/macys.gif" alt="..." class="float-left mr-4" />
</a>
<div class="card-body">
  <h5 class="card-title">Macy's</h5>
<p class="card-text">Macy's is an upscale
  American department store chain founded in 1858 by Rowland Hussey Macy.As of 2015, Macy's was the largest U.S. department
  store company by retail sales.</p>
</div>
</div>
</div>
<div class="pb-4"></div>
  <div class="card">
  <div class="clearfix">
    <a href="https://www.costco.com/" target="_blank">
    <img src="/public/img/college/costco.gif" alt="..." class="float-left mr-4" />
  </a>
  <div class="card-body">
    <h5 class="card-title">Costco</h5>
  <p class="card-text">Costco Wholesale Corporation, doing business as Costco, is an American
      multinational corporation which operates a chain of membership-only
      warehouse clubs.[2] As of 2015, Costco was the second largest retailer in
      the world after Walmart,[3] and as of 2016, Costco was the world's largest
      retailer of choice and prime beef, organic foods, rotisserie chicken, and
      wine. </p>
</div>
  </div>
</div>
<div class="pb-4"></div>
  <div class="card">
  <div class="clearfix">
    <a href="https://www.bedbathandbeyond.com/" target="_blank">
    <img src="/public/img/college/bbb.svg" alt="..." class="float-left mr-4" />
  </a>
  <div class="card-body">
    <h5 class="card-title">Bed Bath & Beyond</h5>
  <p class="card-text">Bed Bath & Beyond is an American chain of domestic merchandise retail stores.  It has stores in the United States. </p>
</div>
  </div>
</div>
  {% endblock %}