{% extends 'base.html' %} {% set active = "Home" %} {% block title %} Home {%
  endblock %} {% block content %}
  <div class="text-center">
      <h1 class="jumbotron-heading">Get food delivered to your doorstep from here.</h1>
  </div>
  </header>
  <style>
    img {
      border: 1px solid #ddd; /* Gray border */
      border-radius: 4px; /* Rounded border */
      padding: 5px; /* Some padding */
      width: 200px; /* Set a small width */
    }
  
    /* Add a hover effect (blue shadow) */
    img:hover {
      box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    }
  </style>
  <div class="card">
  <div class="clearfix">
    <a href="https://www.ubereats.com/en-US/" target="_blank">
    <img src="/public/img/college/ubereats.png" alt="..." class="float-left mr-4" />
  </a>
    <div class="card-body">
      <h5 class="card-title">Uber Eats</h5>
    <p class="card-text">Uber Eats' parent company Uber was founded in 2009 by Garrett Camp and Travis Kalanick.[4][5] The company made its foray into food delivery in August 2014 with the launch of the UberFRESH service in Santa Monica, California.[6] In 2015, the platform was renamed to UberEATS,[7] and the ordering software was released as its own application, separate from the app for Uber rides.[8][9] Its London operation opened in 2016.[10]
      In August 2018, Uber Eats changed its flat $4.99 delivery fee to a rate that is determined by distances. </p>
      
      
  </div>
  </div>
</div>
  <div class="pb-4"></div>
  <div class="card">
  <div class="clearfix">
    <a href="https://www.grubhub.com/" target="_blank">
    <img src="/public/img/college/grubhub.jpg" alt="..." class="float-left mr-4" />
    </a>
    <div class="card-body">
      <h5 class="card-title">Grubhub</h5>
    <p class="card-text">Grubhub Inc. is an American online and mobile prepared food ordering and delivery marketplace that connects diners with local takeout restaurants. The company is based in Chicago and was founded in 2004. </p>
  </div>
  </div>
</div>
  <div class="pb-4"></div>
  <div class="card">
  <div class="clearfix">
    <a href="https://www.doordash.com/" target="_blank">
    <img src="/public/img/college/doordash.gif" alt="..." class="float-left mr-4" />
  </a>
  <div class="card-body">
    <h5 class="card-title">DoorDash</h5>
  <p class="card-text">DoorDash Inc. is a San Francisco-based on-demand prepared food delivery service[3] founded in 2013 by Stanford students . A Y Combinator–backed company, DoorDash is one of several technology companies that uses logistics services to offer food delivery from restaurants on-demand.</p>
</div>
  </div>
</div>
  <div class="pb-4"></div>
  <div class="card">
  <div class="clearfix">
    <a href="https://www.yelp.com/" target="_blank">
    <img src="/public/img/college/yelp.jpg" alt="..." class="float-left mr-4" />
  </a>
  <div class="card-body">
    <h5 class="card-title">Yelp</h5>
  <p class="card-text">Yelp is a business directory service and crowd-sourced review forum, and a public company of the same name that is headquartered in San Francisco, California. The company develops, hosts, and markets the Yelp.com website and the Yelp mobile app, which publish crowd-sourced reviews about businesses. It also operates an online reservation service called Yelp Reservations.

        By 2010 it had $30 million in revenue, and the website had published about 4.5 million crowd-sourced reviews.</p>
      
</div>
  </div>
</div>
  
  {% endblock %}