{% extends 'base.html' %} {% set active = "Home" %} {% block title %} Home {%
endblock %} {% block content %}
<div id="accordion" role="tablist" aria-multiselectable="true">
  <div class="card">
    <h5 class="card-header" role="tab" id="headingOne">
      <a
        data-toggle="collapse"
        data-parent="#accordion"
        href="#collapseOne"
        aria-expanded="true"
        aria-controls="collapseOne"
        class="d-block"
      >
        <i class="fa fa-chevron-down pull-right"></i> How To Build Credit
        History
      </a>
    </h5>

    <div
      id="collapseOne"
      class="collapse show"
      role="tabpanel"
      aria-labelledby="headingOne"
    >
      <div class="card-body">
        <p>
          <h6 class="card-title">Get a secured credit card</h6>
          Secured credit cards aren’t meant to be
          used forever. The purpose of a secured card is to build your credit
          enough to qualify for an unsecured card without a deposit and
          with better benefits. Choose a secured card with a low annual fee and
          make sure it reports to all three credit bureaus, Equifax, Experian
          and TransUnion.
        </p>
        <p>
          <h6 class="card-title">Get a credit -builder loan or a secured loan</h6>
          A credit-builder loan is
          exactly what it sounds like — its sole purpose is to help people build
          credit. Typically, the money you borrow is held by the lender in an
          account and not released to you until the loan is repaid. It’s a
          forced savings program of sorts, and your payments are reported to
          credit bureaus. These loans are most often offered by credit unions or
          community banks; at least one lender offers them online.
        </p>
        <p>
          <h6 class="card-title">Use a co-signer</h6>
           It’s also possible to get a loan or an unsecured
          credit card using a co-signer. But be sure that you and the co-signer
          understand that the co-signer is on the hook for the full amount owed
          if you don't pay.
        </p>
        <p>
          <h6 class="card-title">Become an authorized user</h6>
          A family member or significant other may be
          willing to add you as an authorized user on his or her card. Doing so
          adds that card's payment history to your credit files, so you'll want
          a primary user who has a long history of paying on time. In addition,
          being added as an authorized user can reduce the amount of time it
          takes to generate a FICO score. You don't have to use — or even
          possess — the credit card at all in order to benefit from being an
          authorized user.
        </p>
      </div>
    </div>
  </div>
  <div class="card">
    <h5 class="card-header" role="tab" id="headingTwo">
      <a
        class="collapsed d-block"
        data-toggle="collapse"
        data-parent="#accordion"
        href="#collapseTwo"
        aria-expanded="false"
        aria-controls="collapseTwo"
      >
        <i class="fa fa-chevron-down pull-right"></i> Packing For College
      </a>
    </h5>
    <div
      id="collapseTwo"
      class="collapse"
      role="tabpanel"
      aria-labelledby="headingTwo"
    >
      <div class="card-body">
        <div class="row">
          <ul class="list-group">
            <li class="list-group-item list-group-item-info">
              Bath and Bedding
            </li>
            <li class="list-group-item">Comforter</li>
            <li class="list-group-item">Mattress pad</li>
            <li class="list-group-item">Under bed storage</li>
            <li class="list-group-item">Pillows</li>
          </ul>

          <ul class="list-group">
            <li class="list-group-item list-group-item-info">
              Health and Grooming
            </li>
            <li class="list-group-item">Deodorant</li>
            <li class="list-group-item">Toothbrush and toothpaste</li>
            <li class="list-group-item">Dental floss</li>
            <li class="list-group-item">First Aid kit</li>
          </ul>
          <ul class="list-group">
            <li class="list-group-item list-group-item-info">
              Clothes and Laundry
            </li>
            <li class="list-group-item">Shirts</li>
            <li class="list-group-item">Jeans</li>
            <li class="list-group-item">Sweats</li>
            <li class="list-group-item">Sunglasses</li>
          </ul>
          <ul class="list-group">
            <li class="list-group-item list-group-item-info">
              Decor
            </li>
            <li class="list-group-item">Desk lamp</li>
            <li class="list-group-item">Desk chair</li>
            <li class="list-group-item">Closet Organizer</li>
            <li class="list-group-item">Curtains</li>
          </ul>
          <ul class="list-group">
            <li class="list-group-item list-group-item-info">
              School Supplies
            </li>
            <li class="list-group-item">Backpack</li>
            <li class="list-group-item">Laptop</li>
            <li class="list-group-item">Pens</li>
            <li class="list-group-item">Notebooks</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <h5 class="card-header" role="tab" id="headingThree">
      <a
        class="collapsed d-block"
        data-toggle="collapse"
        data-parent="#accordion"
        href="#collapseThree"
        aria-expanded="false"
        aria-controls="collapseThree"
      >
        <i class="fa fa-chevron-down pull-right"></i> Get a State ID / Driver's
        Liscence
      </a>
    </h5>
    <div
      id="collapseThree"
      class="collapse"
      role="tabpanel"
      aria-labelledby="headingThree"
    >
      <div class="card-body">
        <p></p>
        Because the U.S. does not issue national identification cards, many
        people use DMV issued driver’s licenses as standard forms of I.D. The
        DMV I.D. card has the same security and identification features as a
        license but does not extend to driving privileges. Anyone of any age may
        apply for an ID card, including children and seniors. To obtain a state
        I.D. card, most states require the following:

        <li>Fill out an application form</li>
        <li>Provide proof of U.S. citizenship</li>
        <li>Provide proof of state residency</li>
        <li>Provide your Social Security Number</li>
        <li>Have your thumbprint taken</li>
        <li>Have your picture taken</li>
        <li>Pay a small fee</li></p>
        <p>
        Once you turn 16 years old, you can apply for a Junior Learner's Permit.
        Visit your local PennDOT office and be prepared to take a vision
        screening and knowledge test. You will want to study a Pennsylvania
        Driver's Manual for the written exam. You can pick up a copy at your
        local PennDOT Driver License Center or read the online version. Make
        sure you bring the follow materials with you:

        <li>Completed Non-Commercial Learner's Permit Application</li>
        <li>Completed Parent or Guardian Consent (FormDL-180TD form)</li>
        <li>
          Proof of your date of birth and identification (acceptable documents
          are listed on the back of your DL-180 form)
        </li>
        <li>
          Two proofs of residency (also listed on the back of the DL-180 form)
        </li>
        <li>Your Social Security Card</li>
        <li>
          Check or money order payable to the PennDOT for the $35.50 fee — Cash
          is not accepted
        </li>
      </p>
      </div>
    </div>
  </div>
  <div class="card">
    <h5 class="card-header" role="tab" id="headingThree">
      <a
        class="collapsed d-block"
        data-toggle="collapse"
        data-parent="#accordion"
        href="#collapseFour"
        aria-expanded="false"
        aria-controls="collapseFour"
      >
        <i class="fa fa-chevron-down pull-right"></i> Student Friendly Apps
      </a>
    </h5>
    <div
      id="collapseFour"
      class="collapse"
      role="tabpanel"
      aria-labelledby="headingFour"
    >
      <div class="card-body">
        <p>
          <h6 class="card-title">Student planner apps</h6>
          Popular student planner apps include Timetable
          (Android), an app featuring a sharp and clean interface which you can
          map your timetable onto with ease. For more familiar-looking planner
          apps for students, consider those with a more traditional
          spreadsheet-style layout, such as My Class Schedule (Android) or Class
          Timetable (iOS).
        </p>
        <p>
          <h6 class="card-title">Wake-up apps</h6>
           If you happen to be a persistent snoozer who always
          wakes up about 20 minutes too late for lectures, then Alarmy: Sleep If
          You Can is the app for you. Alarmy is an alarm app for students which
          requires users to complete small tasks (such as taking a photo of
          something specific or shaking the phone up and down a number of times)
          before the alarm turns itself off. Not only will this mean you’re
          alert and raring to go, Alarmy will also give you the latest weather
          update so you can decide whether to arm yourself with an umbrella
          before leaving home. Meanwhile Sleep Cycle aims to correct its users’
          sleeping pattern by waking them up during their lightest sleep phase.
          The app does this by monitoring both movement and the time the user
          went to sleep. This means you should wake up feeling less groggy in
          the mornings, and you might also get an extra 10 minutes of breakfast
          time
        </p>
        <p>
          <h6 class="card-title">Responsible-drinking apps</h6>
          The responsible-drinking app WiseDrinking
          charts how much you’ve been drinking, gives you suggestions about how
          much is safe, lets you know the optimum time to call a cab, and maps
          your location in relation to public transport services. Using inputs
          of gender, weight and height, the app calculates blood alcohol content
          (BAC) levels by calculating the amount, type and timing of alcohol
          consumed and when the user’s last meal was.
        </p>
        <p>
          <h6 class="card-title">Safety on College Campuses</h6>
          Smartwatcher . Stay safe walking home from
          class at night with Smartwatcher. Connect to other friends, and let
          them know where you are when you're walking home.
        </p>
        <p>
          <h6 class="card-title">LinkedIn</h6>
          LinkedIn and all its nifty mobile features makes connections
          a breeze — for better or worse, college is a time of both personal and
          professional connections.
        </p>
      </div>
    </div>
  </div>
  <div class="card">
    <h5 class="card-header" role="tab" id="headingThree">
      <a
        class="collapsed d-block"
        data-toggle="collapse"
        data-parent="#accordion"
        href="#collapseFive"
        aria-expanded="false"
        aria-controls="collapseFive"
      >
        <i class="fa fa-chevron-down pull-right"></i> Safety Tips
      </a>
    </h5>
    <div
      id="collapseFive"
      class="collapse"
      role="tabpanel"
      aria-labelledby="headingFive"
    >
      <div class="card-body">
        <p>
          <h6 class="card-title">Driving in Philadelphia</h6>
           While public transportation is advised for
          tourists, some travelers prefer to explore Philadelphia by hiring a
          car. You need to remember that Philadelphia is a busy city, so traffic
          can get very heavy, particularly in the rush hour period, so when
          getting in and around Philadelphia, it’s important that you stay
          focused on the road and be alert of your surroundings.
        </p>
        <p>
          <h6 class="card-title">Areas to Avoid</h6>
          There are some areas of Philadelphia that are safer
          than others. For instance, Philly is just a stone’s throw away from
          Camden, New Jersey, which is known for its high crime rate and is
          considered one of the more dangerous parts of the region. While you
          should be fine throughout the day to explore what Philadelphia has to
          offer, it’s best to take public transport throughout the night. No
          matter where you decide to stay, you should be especially careful at
          night.
        </p>
        <p>
          <h6 class="card-title">Be Aware of Pickpockets</h6>
           You are more likely to encounter pickpockets
          in major cities like Philadelphia, so being on your guard at all times
          is important. When walking through the hustle and bustle of the city,
          make sure to keep an eye on your personal belongings. Items like your
          cell phone, money, and cards should be stored in zipped up inside
          pockets, making it harder for thieves to strike. The last thing you
          want is to come back after a day of sightseeing to find your personal
          items have been stolen, so knowing the right tips and being aware of
          your surroundings is key.
        </p>
        <p>
          <h6 class="card-title">Scams Risk</h6>
           While it can be great to interact with the locals of
          Philadelphia, you also need to be aware that there are people out
          there who will try to scam you. Homeless people in particular may be
          aggressive towards you if you do not hand over money, so make sure
          that you stay aware of fake petitions, groups of people acting
          strangely, as well as credit card scams. Also, any money that you need
          to withdraw should be done from a reputable hotel or bank.
        </p>

        <p>
          <h6 class="card-title">How to Seek Help</h6>
           This piece of advice is useful for when you are
          traveling anywhere that you are not familiar with. Always have
          emergency contact details to hand should you find yourself in a
          situation where you need help. If you have found yourself in an auto
          accident for example, you might need to contact a personal injury
          lawyer in Philadelphia to help fight your case. You may also want to
          research where the nearest hospital or doctor’s surgery is located.
          While most tourists experience no problems when visiting Philadelphia,
          there is always an element of risk attached to traveling around a
          major city, so make sure that you always keep your personal belongings
          hidden. If you find yourself in danger, it’s crucial that you contact
          the emergency services as quickly as possible.
        </p>
      </div>
    </div>
  </div>
  <div class="card">
    <h5 class="card-header" role="tab" id="headingThree">
      <a
        class="collapsed d-block"
        data-toggle="collapse"
        data-parent="#accordion"
        href="#collapseSix"
        aria-expanded="false"
        aria-controls="collapsesix"
      >
        <i class="fa fa-chevron-down pull-right"></i> Health Insurance
      </a>
    </h5>
    <div
      id="collapseSix"
      class="collapse"
      role="tabpanel"
      aria-labelledby="headingSix"
    >
      <div class="card-body">
        International Student Insurance is insurance health coverage for
        students while they are enrolled in a college or university in The
        United States. Student health insurance plans offer comprehensive
        coverage for international students in the U.S. and study-abroad
        students around the world. International student insurance plans are
        usually more affordable than the ones provided by the universities in
        the U.S. and they provide similar coverage. Students can purchase
        insurance from two sources; either they can choose to go with the
        university-sponsored student health plan or they can buy insurance from
        a private insurance provider. Buying insurance from a private seller can
        be a good choice as the plans offered by the private providers can be
        cheaper than student health plans. If you purchase a plan from a private
        provider, your college or university might also ask for proof of
        coverage at the time of your enrollment to deduct the health insurance
        premium from your tuition
      </div>
    </div>
  </div>
</div>
{% endblock %}
