{% extends 'base.html' %} {% set active = "Home" %} {% block title %} Home {%
    endblock %} {% block content %}
    <div class="text-center">
        <h1 class="jumbotron-heading">Local stores for everyday groceries</h1>
    </div>
    </header>
    <style>
      img {
        border: 1px solid #ddd; /* Gray border */
        border-radius: 4px; /* Rounded border */
        padding: 5px; /* Some padding */
        width: 250px; /* Set a small width */
      }
    
      /* Add a hover effect (blue shadow) */
      img:hover {
        box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
      }
    </style>
    <div class="card">
    <div class="clearfix">
      <a href="https://www.traderjoes.com/" target="_blank">
      <img src="/public/img/college/traders.jpg" alt="..." class="float-left mr-4" />
    </a>
      <div class="card-body">
        <h5 class="card-title">Trader Joe's</h5>
      <p class="card-text">Trader Joe's is an American chain of grocery stores headquartered in Monrovia, California. By 2015, it was a competitor in "fresh format" grocery stores in the United States.[4][5] By November 2019, Trader Joe's had over 503 stores nationwide in 42 states and Washington, D.C.[1]

        </p>
        
    </div>
    </div>
  </div>
    <div class="pb-4"></div>
    <div class="card">
    <div class="clearfix">
      <a href="https://www.thefreshgrocer.com/pd/stores/PA/Philadelphia/The-Fresh-Grocer-of-56th-and-Chestnut/2DB9123686" target="_blank">
      <img src="/public/img/college/fresh.jpg" alt="..." class="float-left mr-4" />
      </a>
      <div class="card-body">
        <h5 class="card-title">The Fresh Grocer</h5>
      <p class="card-text">The Fresh Grocer is a supermarket chain based in Drexel Hill, Pennsylvania that operates seven stores in Delaware, the Greater Philadelphia region of Pennsylvania and New Jersey.[1] Founded in 1996 in Philadelphia, Pennsylvania, as an independent company, the company became a member of the Wakefern Food Corporation, a retailers' cooperative, in 2013</p>
        
    </div>
    </div>
  </div>
    <div class="pb-4"></div>
    <div class="card">
    <div class="clearfix">
      <a href="https://giantfoodstores.com/" target="_blank">
      <img src="/public/img/college/giant.jpg" alt="..." class="float-left mr-4" />
    </a>
    <div class="card-body">
      <h5 class="card-title">Giant Food Stores</h5>
    <p class="card-text">Giant Food Stores, LLC is an American supermarket chain that operates stores in Pennsylvania, Maryland, Virginia and West Virginia. The chain operates full-scale supermarkets under the Giant and Martin's banners along with small-scale urban stores under the Giant Heirloom Market banner. </p>
  </div>
    </div>
  </div>
    <div class="pb-4"></div>
    <div class="card">
    <div class="clearfix">
      <a href="https://www.yelp.com/biz/international-foods-and-spices-philadelphia" target="_blank">
      <img src="/public/img/college/international.jpg" alt="..." class="float-left mr-4" />
    </a>
    <div class="card-body">
      <h5 class="card-title">International Food and Spices</h5>
    <p class="card-text">International Food and Spices opened in 1987. It’s a family business: Paul Singh, the manager of the store, is the founder’s son. The market carries foods from the Middle East, Bangladesh, Pakistan, and India. </p>
  </div>
    </div>
  </div>
    <div class="pb-4"></div>
    <div class="card">
    <div class="clearfix">
      <a href="https://www.wholefoodsmarket.com/" target="_blank">
      <img src="/public/img/college/wholefood.jpg"alt="..." class="float-left mr-4" />
      </a>
      <div class="card-body">
        <h5 class="card-title">Whole Foods Market</h5>
      <p class="card-text">Whole Foods Market Inc. is an American multinational supermarket chain headquartered in Austin, Texas, which exclusively sells products free from hydrogenated fats and artificial colors, flavors, and preservatives.[4] A USDA Certified Organic grocer in the United States, the chain is popularly known for its organic selections.[5] Whole Foods has 500 stores in North America and the United Kingdom as of March 4, 2019</p>
    </div>
    </div>
  </div>
    <div class="pb-4"></div>
    <div class="card">
    <div class="clearfix">
      <a href="https://www.grubhub.com/restaurant/old-nelson-ii-food-company-35-s-13th-st-philadelphia/338645" target="_blank">
      <img src="/public/img/college/old.jpg" alt="..." class="float-left mr-4" />
    </a>
    <div class="card-body">
      <h5 class="card-title">Old Nelson</h5>
    <p class="card-text">Old Nelson is your neighborhood convenience store and deli offering a wide selection of freshly made salads, sandwiches made with premium sliced deli meats and cheeses, gourmet soups, and platters made with quality ingredients. Old Nelson is great place to stop for your next coffee, lunch or snack break</p>
  </div>
    </div>
  </div>
  <div class="pb-4"></div>
    <div class="card">
    <div class="clearfix">
      <a href="http://www.supremofoods.com/" target="_blank">
      <img src="/public/img/college/supreme.jpg" alt="..." class="float-left mr-4" />
    </a>
    <div class="card-body">
      <h5 class="card-title">Supremo Food Markets</h5>
    <p class="card-text">Supremo Food Markets is a grocery chain that has had the pleasure of servicing New Jersey and East Pennsylvania for the last 20 years.  As a company, we pride ourselves on the diversity of products we offer and the diversity of the people, both consumer and workforce, that make up our community.  </p>
  </div>
    </div>
  </div>
  <div class="pb-4"></div>
    <div class="card">
    <div class="clearfix">
      <a href="https://www.fuwahminimarket.com/" target="_blank">
      <img src="/public/img/college/fuwah2.jpg" alt="..." class="float-left mr-4" />
    </a>
    <div class="card-body">
      <h5 class="card-title">Fu-Wah</h5>
    <p class="card-text">Your neighborhood mini market and deli.   Home to the Original Tofu Banh Mi, Fu-Wah provides freshly made deli items such as bold Banh Mi styles and classic hoagies and sandwiches. On the shelves you’ll find a variety of specialty and hard-to-find Asian products as well as the items on your

        daily shopping list.</p>
  </div>
    </div>
  </div>
    {% endblock %}