{% extends 'base.html' %} {% set active = "Home" %} {% block title %} Home {%
    endblock %} {% block content %}
    <div class="text-center">
        <h1 class="jumbotron-heading">Going Around The City</h1>
    </div>
    </header>
    <style>
      img {
        border: 1px solid #ddd; /* Gray border */
        border-radius: 4px; /* Rounded border */
        padding: 5px; /* Some padding */
        width: 250px; /* Set a small width */
      }
    
      /* Add a hover effect (blue shadow) */
      img:hover {
        box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
      }
    </style>
    <div class="card">
    <div class="clearfix">
      <a href="https://www.rideindego.com/" target="_blank">
      <img src="/public/img/college/bike.jpeg" alt="..." class="float-left mr-4" />
    </a>
      <div class="card-body">
        <h5 class="card-title">Philly By Bike</h5>
      <p class="card-text">Philadelphia has become one of the most bike-friendly big cities in the country with dedicated bike lanes on city streets, hundreds of miles of trails and a growing number of bicycle commuters.

        440+ miles of dedicated bike lanes
        750 miles of bike trails in the works with 300+ miles completed so far
        1,300+ bikes that can be rented at more than 140 stations across the city</p>
        
    </div>
    </div>
  </div>
    <div class="pb-4"></div>
    <div class="card">
    <div class="clearfix">
      <a href="https://www.visitphilly.com/features/philadelphia-phlash-downtown-loop/" target="_blank">
      <img src="/public/img/college/phlash.jpg" alt="..." class="float-left mr-4" />
      </a>
      <div class="card-body">
        <h5 class="card-title">Philly PHLASH Downtown Loop</h5>
      <p class="card-text">The most convenient way to see some of the city’s top attractions is aboard the Philadelphia PHLASH Downtown Loop. Single rides are just $2 per person or $5 for an all-day pass. Children 4 and under, seniors and SEPTA pass and key card holders ride FREE.</p>
        
    </div>
    </div>
  </div>
    <div class="pb-4"></div>
    <div class="card">
    <div class="clearfix">
      <a href="https://www.septakey.org/" target="_blank">
      <img src="/public/img/college/septa.png" alt="..." class="float-left mr-4" />
    </a>
    <div class="card-body">
      <h5 class="card-title">Septa Services</h5>
    <p class="card-text">Aside from walking, Philadelphia’s excellent transit system is the best way to get around town. Both accessible and bike-friendly, SEPTA (Southeastern Pennsylvania Transportation Authority) is one of the most comprehensive bus/subway/commuter-rail systems in the United States, consistently ranking in the Top 5 </p>
      
  </div>
    </div>
  </div>
    <div class="pb-4"></div>
    <div class="card">
    <div class="clearfix">
      <a href="https://www.uber.com/us/en/drive/vehicle-solutions/" target="_blank">
      <img src="/public/img/college/uber.jpg" alt="..." class="float-left mr-4" />
    </a>
    <div class="card-body">
      <h5 class="card-title">Uber</h5>
    <p class="card-text">Uber Technologies, Inc., commonly known as Uber, is an American multinational ride-hailing company offering services that include peer-to-peer ridesharing,  and scooters</p>
      
  </div>
    </div>
  </div>
    <div class="pb-4"></div>
    <div class="card">
    <div class="clearfix">
      <a href="https://www.lyft.com/" target="_blank">
      <img src="/public/img/college/lyft.jpeg" alt="..." class="float-left mr-4" />
      </a>
      <div class="card-body">
        <h5 class="card-title">Lyft</h5>
      <p class="card-text">Lyft, Inc. is a ridesharing company based in San Francisco, California and operating in 644 cities in the United States and 12 cities in Canada.</p>
        
    </div>
    </div>
  </div>
    <div class="pb-4"></div>
    <div class="card">
    <div class="clearfix">
      <a href="https://www.zipcar.com/" target="_blank">
      <img src="/public/img/college/zip.jpg" alt="..." class="float-left mr-4" />
    </a>
    <div class="card-body">
      <h5 class="card-title">ZipCar</h5>
    <p class="card-text">Zipcar is an American car-sharing company and a subsidiary of Avis Budget Group. Zipcar provides automobile reservations to its members, billable by the minute, hour or day; members may have to pay a monthly or annual membership fee in addition to car reservations charges</p>
      
  </div>
    </div>
  </div>
    {% endblock %}